* {
      padding: 10;
      margin: 10;
  }
  
  #panorama-360-view {
      width: 101%;
      height: 600px;
    
      margin-left: -10px;
    margin-right:-15px;
  
  /* padding: 10px; */
  }

  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #ff0000;
    font-family: "Roboto";
  }
  
  p {
    text-indent: 50px;
    text-align: center;
    letter-spacing: 3px;
    font-family: "Roboto";
  }
  
  a {
    text-decoration: none;
    color: #008CBA;
  }

  header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }

  .ctrl {
    padding: 8px 5px;
    width: 30px;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    display: inline-block;
    cursor: pointer;
}
.ctrl:hover {
    background: rgba(200, 200, 200, 1);
}

#controls {
    position: absolute;
    bottom: 0;
    z-index: 2;
    text-align: center;
    width: 100%;
    padding-bottom: 3px;
}