/* BEGIN custom_css_box */
.page-id-247 #header,.page-id-247 #header-sticky-wrapper{position:fixed;z-index:333;}
.page-id-247 #home{height:100%;}
.page-id-247 .home-slider,.page-id-247 .owl-wrapper-outer,.page-id-247 .owl-wrapper,
.page-id-247 .slide,.page-id-247 .owl-item{height:100%;}
.page-id-247 {
    overflow: hidden;
}
/* END custom_css_box */
