/*
Theme Name: Gedebvge - Responsive One Page Portfolio Theme
Theme URI: http://themeforest.net/user/ridianur
Author: ridianur
Author URI:  http://themeforest.net/user/ridianur
Description: Gedebvge is responsive one page HTML5 Premium WordPress Theme with clean,simple,minimalist and modern design.It can be used for creative digital agent to show portfolio and selling services.
Version: 1.1.4
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: light, white, gray, black, one-column, two-columns, right-sidebar
*/

/*-----------------------------------------GENERAL SECTION--------------------------------------------------*/
body, html {
	height: 100%;
}
body {
	color: #000;
	font-size: 13px;
	line-height: 2;
	background-color: #fff;
	font-family: 'Merriweather', serif;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
	cursor: inherit;
}
a {
	color: #999;
	text-decoration:none;
	transition: ease .3s;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	-o-transition: ease .3s;
	-ms-transition: ease .3s;
}
a:hover{text-decoration:none;color:#333;}
a:focus {
	outline: none;
	color:#999999;
	text-decoration:none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	font-family:  'Montserrat',sans-serif;
	color: #000;
}
iframe {
	border: none;
	widows:100% !important;
}
img{max-width:100%;height:auto !important;}
.content{background:#fff;padding:100px 0;}
.content-title {
    letter-spacing: 2px;
    margin: 0 0 40px;
    text-transform: uppercase;
}
.content-divider{margin:40px 0 80px;width:100%;height:1px;background:#ccc;}
.content-divider.small{margin:40px 0;}
.spacing20{width:100%;height:20px;}
.spacing40{width:100%;height:40px;}
.bw-box {position:relative;overflow:hidden;}
ul, ol {
    list-style-position: outside;
    list-style-type: square;
    margin: 0;
    padding: 0 0 0 20px;
}
ol  li
{
  list-style-type: decimal;
}
ol ol li
{
  list-style-type:lower-alpha;
}
ol ol ol li
{
  list-style-type: lower-roman;
}
.clearboth{clear:both;}
.search-title {
    font-size: 20px;
    letter-spacing: 2px;
    margin: 0 ;
    text-transform: uppercase;
}
/*------on admin bar--------*/
.admin-bar .is-sticky #header{
    margin-top: 32px;
}

/* Preloader */
		#preloader {
			position:fixed;
			top:0;
			left:0;
			right:0;
			bottom:0;
			background-color:#fff; /* change if the mask should have another color then white */
			z-index:999999; /* makes sure it stays on top */
		}
		
		#status {
			width:200px;
			height:200px;
			position:absolute;
			left:50%; /* centers the loading animation horizontally one the screen */
			top:50%; /* centers the loading animation vertically one the screen */
			background-image:url(images/preloader.gif); /* path to your loading animation */
			background-repeat:no-repeat;
			background-position:center;
			margin:-100px 0 0 -100px; /* is width and height divided by two */
		}
		#status p{text-align:center;}
/*------------------HEADER SECTION------------*/
#header {
background: linear-gradient(117.76deg,rgba(255,255,255,0.7) -7.21%,rgba(255,255,255,0.5) 118.08%);
    backdrop-filter: blur(8px);
 /*   background: none repeat scroll 0 0 #FFFFFF;*/
	width:100%;
	left:0;
	top:0;
	z-index:333;
	position:relative;
}
.is-sticky #header{border-bottom:1px solid #eee;}
.logo {
    float: left;
    margin-right: 30px;
}
.logo a {
    display: block;
    padding: 0;
}
.menu-box{float:right;}
.navigation,.menu ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.navigation li,.menu ul li{
	float:left;
	position:relative;
}
.navigation a,.menu ul li a {
    display: block;
    font-family: montserrat;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 2px;
    padding: 35px 20px;
    text-decoration: none;
    text-transform: uppercase;
}
.navigation .current a{color:#000;}
.navigation li ul{
	background: none repeat scroll 0 0 #000;
    display: block;
    list-style: none outside none;
    margin: 0 0 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: left;
    top: 100%;
    width: 180px;
    z-index: 3;
}
.navigation li ul li{
	display: block;
	float:none;
}
.navigation li ul a{
    display: block;
    font-family: montserrat;
	color:#fff;
    font-size: 12px;
    padding: 11px 20px;
    text-transform: uppercase;
}
.navigation li ul a:hover{background:#333;color:#ccc;}
.box-mobile {
    float: right;
    position: relative;
}
.mobile-menu {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    list-style: none outside none;
    margin: 1px 0 0;
    overflow: hidden;
	height:0;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 100%;
    width: 150px;
    z-index: 3;
}
.mobile-menu.in{
	border: 1px solid #EEEEEE;
	max-height: 480px;
    overflow-x: hidden;
    overflow-y: auto;
}
.mobile-menu li a {
    display: block;
    font-family: montserrat;
    font-size: 11px;
    padding: 8px 15px;
	text-decoration:none;
    text-transform: uppercase;
	border-top:none;
}
.menu-btn {
    border: 3px solid;
    cursor: pointer;
    height: 30px;
    line-height: 24px;
    margin: 27px 0;
    text-align: center;
    width: 30px;
    z-index: 3;
}
.error-title{
    border: 2px solid;
    display: inline-block;
    font-size: 80px;
    letter-spacing: 2px;
    margin: 0 0 20px;
    padding: 10px;
    text-transform: uppercase;
}
/*------------------------------VIDEO BG SECTION---------------------------------*/
#big-video-wrap {
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -999;
	background:#eee;
}
#big-video-vid{position:absolute;}
#big-video-wrap img {
    max-width: none !important;
    min-height: 100% !important;
    min-width: 100% !important;
    position: absolute;
}
.vjs-big-play-button,.vjs-text-track-display,.vjs-control-bar{display:none;}
/*---------------------SLIDER SECTION---------------*/
#home{background:#eee;position:relative;z-index:3;}
.page-template-homepage-video-php #home {
    background: transparent;
    position: relative;
    z-index: 1;
}
.caption-box {
    padding:220px 0 300px;
    text-align: center;
}
.slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.slider-mask {
    background: none repeat scroll 0 0 rgba(0,0,0, 0.1);
    display: block;
    height: 100%;
    left: 0;
    padding: 30px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.slider1{background-image: url('../images/slider/1.html');}
.slider2{background-image: url('../images/slider/2.html');}
.slider3{background-image: url('../images/slider/3.html');}
.caption-box h3 {
    color: #FFFFFF;
    font-family: oswald;
    font-size: 150px;
    font-weight: normal;
    letter-spacing: 20px;
    margin: 0;
    text-transform: uppercase;
}
.caption-box p {
    color: #FFFFFF;
    font-family: montserrat;
    font-size: 25px;
    letter-spacing: 16px;
    line-height: 1;
    text-transform: uppercase;
}
.caption-box i {
    color: #FFFFFF;
    display: inline-block;
    font-size: 40px;
    line-height: 40px;
    width: 40px;
}
.line-container {
    height: 40px;
    margin: auto;
	max-width: 850px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.left-line {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 3px;
    left: 0;
    margin-left: -40px;
    position: absolute;
    top: 20px;
    width: 50%;
}
.bottom-line {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 3px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 100%;
}
.right-line {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 3px;
    right:0;
    margin-right: -40px;
    position: absolute;
    top: 20px;
    width: 50%;
}
.caption-box .container{position:relative;overflow:hidden;}

/*---owl slider setting----*/
.owl-page > span {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid #FFFFFF;
    display: inline-block;
    height: 15px;
    margin: 0 4px;
    opacity: 0.5;
    width: 15px;
	transition:  ease .5s;
	-webkit-transition: ease .5s;
	-moz-transition:  ease .5s;
	-o-transition:  ease .5s;
	-ms-transition:  ease .5s;
}
.owl-page > span:hover{opacity:1;}
.owl-page.active > span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    opacity: 1;
}
.owl-page {
    display: inline-block;
}
.owl-pagination {
    bottom: 8%;
    height: 30px;
    margin-bottom: -15px;
    position: absolute;
    width: 100%;
	text-align:center;
}
.align-center {
	text-align: center;
}

/*------------------PORTFOLIO SECTION------------*/

#portfolio{width:100%;overflow:hidden;background:#eee;}
.port-item{padding:0;margin:0;}
.portfolio-body{
	width:100%;
	overflow:hidden;
	transition: height ease .5s;
	-webkit-transition:height ease .5s;
	-moz-transition: height ease .5s;
	-o-transition: height ease .5s;
	-ms-transition: height ease .5s;
	}
.filter {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    font-family: montserrat;
    letter-spacing: 3px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}
.port-box{position:relative;}
.port-hover {
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    height: 100%;
    padding: 30px;
    position: absolute;
    width: 100%;
	top:0;
	z-index:5;
	left:0;
	text-decoration:none;
}
.BWfade{z-index:0;}
.port-item:hover .port-hover{background-color:transparent;}
.port-hover h3 {
    color: #FFFFFF;
    letter-spacing: 2px;
    margin: 0;
	font-size:20px;
    text-transform: uppercase;
}
.port-hover p {
    color: #FFFFFF;
    font-size: 14px;
    font-style: italic;
    margin: 0;
    opacity: 0.7;
}
.port-filter {
    background: none repeat scroll 0 0 #000000;
    display: block;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
}
.port-filter li {
    display: inline-block;
    margin-left: -4px;
}
.port-filter li a {
    color: #FFFFFF;
    display: block;
    font-size: 10px;
    letter-spacing: 2px;
    margin: 0;
    padding: 20px 10px;
    text-align: center;
	text-decoration:none;
    text-transform: uppercase;
}
.port-filter li  a:hover,.port-filter li .active{background:#333;}
.port-icon {
    border: 2px solid;
    bottom: 30px;
    color: #FFFFFF;
    font-size: 15px;
    height: 40px;
    line-height: 36px;
    position: absolute;
    right: 30px;
    text-align: center;
    width: 40px;
}
/*-----------worksajax section-----------*/
.worksajax{background:#fff;}
.port-title {
    letter-spacing: 2px;
    margin: 0 0 40px;
    text-transform: uppercase;
}
.slider {display:block;}
.slider  .slide{display:none;}
.slider .slide:first-child{display:block;}
.work-content{position:relative;}
.single.single-portfolio .close{display:none;}
.close {
    border: 3px solid;
    color: #000000;
    font-size: 13px;
    height: 30px;
    line-height: 24px;
    opacity: 1;
    position: absolute;
    right: 20px;
    text-align: center;
    text-shadow: 0 0 0;
    top: 0;
    width: 30px;
}
p i{font-style:italic;}
.go-btn {
    border: 2px solid;
    display: inline-block;
    font-family: montserrat;
    font-size: 12px;
    letter-spacing: 3px;
    padding: 6px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.portfolio-gallery div{width:33.3%;float:left;}
.portfolio-gallery a{position:relative;display:block;}
.portfolio-gallery a span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    height: 100%;
    left: 0;
	opacity:0;
    position: absolute;
    top: 0;
    width: 100%;
	transition: .3s;
	-webkit-transition:.3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	-ms-transition: .3s;
}
.portfolio-gallery a i {
	opacity:0;
    color: #FFFFFF;
    display: block;
    font-size: 15px;
    height: 40px;
    left: 50%;
    line-height: 36px;
	border:2px solid;
    margin-left: -20px;
    margin-top: -20px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 40px;
	transition: .5s;
	-webkit-transition:.5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	-ms-transition: .5s;
}
.portfolio-gallery a:hover span,.portfolio-gallery a:hover i{opacity:1;}
a.pp_previous,a.pp_next{
	transition: none;
	-webkit-transition:none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
}
.slide-nav {
    border: 3px solid;
    color: #FFFFFF;
    font-size: 15px;
    height: 40px;
    left: 10px;
    line-height: 34px;
    margin-top: -20px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 40px;
	opacity:0.5;
	transition: .5s;
	-webkit-transition:.5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	-ms-transition: .5s;
}
.slide-nav.inright {
    left: auto;
    right: 10px;
}
.slide-nav:hover{opacity:1;}
/*------------------SERVICES SECTION------------*/
.services-icon {
    background: none repeat scroll 0 0 #000000;
    clear: both;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    width: 40px;
}
.services-title {
    letter-spacing: 2px;
    margin: 10px 0 25px;
    text-transform: uppercase;
}

/*---------------------TEAM SECTION-----------------------------*/
#team{background:#eee;}
.team-hover {
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    height: 100%;
    padding: 30px;
    position: absolute;
    width: 100%;
	top:0;
	left:0;
	text-decoration:none;
}
.team-list:hover .team-hover{background-color:transparent;}
.team-hover h3 {
    color: #FFFFFF;
    letter-spacing: 2px;
    margin: 0;
	font-size:20px;
    text-transform: uppercase;
}
.team-hover p {
    color: #FFFFFF;
    font-size: 14px;
    font-style: italic;
    margin: 0;
    opacity: 0.7;
}
.team-list{padding:0;margin:0;}
.team-bg {
    padding: 150px 0;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:top center;
	position:relative;
}
/*---TEAM BACKGROUND SETTING--*/
.team1 {background-image:url(../images/team/bg1.html);}
.team2 {background-image:url(../images/team/bg2.html);}
.team3 {background-image:url(../images/team/bg3.html);}
.team4 {background-image:url(../images/team/bg4.html);}

.nav-team .active .bw-box > img {
    position: relative;
    z-index: 1;
}
.nav-team .active .bw-box > .team-hover {
    z-index: 3;
}
.team-mask {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    display: block;
    height: 100%;
    padding: 30px;
    position: absolute;
    width: 100%;
	top:0;
	left:0;
	z-index:0;
}
.team-detail{position:relative;color:#fff;}
.team-title {
    color: #FFFFFF;
    margin: 0 0 40px;
    text-transform: uppercase;
	letter-spacing: 2px;
}
.bq-icon {
    border: 4px solid;
    border-radius: 100px;
    height: 50px;
    left: 0;
    line-height: 42px;
    position: absolute;
    text-align: center;
    top: 6px;
    width: 50px;
}
.team-bg blockquote {
    border-left: medium none;
    margin: 0 0 20px;
    padding: 10px 0 10px 70px;
    position: relative;
	font-style: italic;
}
.team-icon {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.team-icon > li {
    display: inline-block;
}
.team-icon > li a {
    border: 3px solid;
    color: #FFFFFF;
    display: block;
    height: 30px;
    line-height: 24px;
    margin-right: 5px;
    text-align: center;
    width: 30px;
}
.team-icon > li a:hover{color:#999;}
.team-close {
    border: 3px solid;
    bottom: -100px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
    height: 30px;
    line-height: 24px;
    margin-right: -15px;
    opacity: 1;
    position: absolute;
    right: 50%;
    text-align: center;
    width: 30px;
	transition: .5s;
	-webkit-transition:.5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	-ms-transition: .5s;
}
.team-close:hover{opacity:0.3;}
/*-----------------------------CONTACT SECTION-----------------------------------*/

input, textarea {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #ddd;
	color: #888;
	line-height: inherit;
	padding: 12px 20px;
	width: 100%;
	font-size:12px;
	background: #fff;
}
.wpcf7-form p span:first-child{
    display: block;
    font-family: montserrat;
    letter-spacing: 2px;
    text-transform: uppercase;
}
input:focus, textarea:focus {
	border-color: #aaa;
}
::-webkit-input-placeholder {
 color: #999;
}
.wpcf7-form p label {
    cursor: text;
    display: block;
    margin: 0;
    position: relative;
    top: 0;
    width: 100%;
}
:-moz-placeholder { /* Firefox 18- */
 color: #999;
}

::-moz-placeholder {  /* Firefox 19+ */
 color: #999;
}

:-ms-input-placeholder {
 color: #999;
}

.contact-btn {
    background: none repeat scroll 0 0 #000000;
    border: medium none;
    color: #FFFFFF;
    display: inline-block;
    font-family: montserrat;
    letter-spacing: 2px;
    line-height: 1.6;
    padding: 13px 18px;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
}
.contact-btn:hover {
	background: #888;
	color: #fff;
}
.wpcf7-form p {
	position: relative;
}
.address-list > li {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
}
.address-list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.address-list i {
    border: 3px solid;
    display: inline-block;
    height: 30px;
    line-height: 24px;
    text-align: center;
    width: 30px;
}
.wpcf7 p{position:relative;}
.wpcf7-form span.wpcf7-not-valid-tip {
    font-family: 'Merriweather',serif;
    font-size: 12px;
    font-style: italic;
    letter-spacing: 0;
    position: absolute;
    right: 15px;
    text-transform: none;
    top: 0;
}
span.wpcf7-form-control-wrap {
	display: inline !important;
}
div.wpcf7-validation-errors {
    background: none repeat scroll 0 0 #EEEEEE;
    border: medium none;
    margin-left: 0;
    margin-top: 10px;
}
div.wpcf7-mail-sent-ok {
    border: medium none;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
/*-----------------------FOOTER SECTION----------*/
.transparent{width:100%;position:relative;z-index:-2;}
.footer {
    background: none repeat scroll 0 0 #000000;
    bottom: 0;
    color: #FFFFFF;
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: -1;
	padding:100px 0 40px;
}
.footer-icon {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.footer-icon > li {
    display: inline-block;
}
.footer-icon > li a {
    border: 3px solid;
    color: #FFFFFF;
    display: block;
    height: 30px;
    line-height: 24px;
    margin-right: 5px;
    text-align: center;
    width: 30px;
}
.footer-icon > li a:hover{color:#999;}
.footer-divider {
    background: none repeat scroll 0 0 #333;
    height: 1px;
    margin: 40px 0;
    width: 100%;
}
.footer p {
    font-family: montserrat;
    letter-spacing: 3px;
}


/*-----------BLOG SECTION--------------------*/

*, *:before, *:after {
    -moz-box-sizing: border-box;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #000000;
    border-color: #000000;
    color: #FFFFFF;
    cursor: default;
    z-index: 2;
}
.pagination-comment a {
    border: 2px solid;
    display: inline-block;
    margin:0;
    padding: 1px 9px;
}
.pagination-comment {
	font-size: 10px;
}
.pagination-comment .current {
    background: none repeat scroll 0 0 #333333;
    border: 2px solid #333333;
    color: #FFFFFF;
    display: inline-block;
    margin: 0;
    padding: 1px 9px;
}
.blog-title {
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
}
.post-detail div {
    display: inline-block;
    font-size: 12px;
    padding-right: 10px;
}
.post-detail i {
    color: #000000;
    height: 30px;
    letter-spacing: 0;
    line-height: 26px;
    padding-right: 2px;
    text-align: center;
    vertical-align: baseline;
    width: 30px;
	font-weight:700;
}
.blog-box {
    margin-bottom: 20px;
    min-height: 70px;
    position: relative;
}
.post-date {
    -moz-box-sizing: content-box;
	box-sizing: content-box;
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    font-size: 17px;
    font-style: italic;
    left: 0;
    line-height: 1;
    padding: 12px 10px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 50px;
}
.post-date span {
    display: block;
    font-size: 29px;
}
.blog-box > a ,.single-blog .blog-title{
    display: block;
    padding-left: 80px;
}
.post-detail {
    padding-top: 10px;
}
.blog-post {
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
}
.masonry .blog-title {
    font-size: 25px;
}
.post-pager {
    color: #AAAAAA;
    font-style: italic;
    text-align: right;
}
.post-pager a {
    border: 2px solid;
    display: inline-block;
    height: 30px;
    margin: 0 3px;
    text-align: center;
    width: 30px;
}
/*-----------------------------------------SIDEBAR SECTION-------------------------------------------*/
.widgettitle {
    font-size: 20px;
    letter-spacing: 2px;
    margin: 0 0 20px;
    text-transform: uppercase;
}
.widget {
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 40px;
    padding-bottom: 40px;
}
.widget ul {
    padding: 0 0 0 20px;
}
#searchform {
    margin: 10px 20px;
    position: relative;
}
#searchform #s {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #ddd;
    display: block;
    height: 50px;
    margin: 0;
    padding: 10px 45px 10px 10px;
    width: 100%;
}
#searchform #s:focus{border-color:#aaa;}
#searchform #searchsubmit {
    background: url("images/search.png") no-repeat scroll center center #aaa;
    height: 30px;
    right: 10px;
    line-height: 1;
    margin-top: -15px;
    padding: 0;
    position: absolute;
    text-indent: -99999px;
    top: 50%;
    transition: all 0.3s ease 0s;
    width: 30px;
	border:none;
}
#searchform #searchsubmit:hover{background-color:#333;}
.widget ul li {
    margin-bottom: 5px;
}
.tagcloud a {
    border: 2px solid;
    display: inline-block;
    margin-bottom: 5px;
	font-size: inherit !important;
    padding: 2px 10px;
}
.tagcloud a:hover{border-color:#000;}
.widget .sub-menu {
    display: block;
    list-style: inherit;
    text-align: inherit;
}
.widget .sub-menu li {
    display: block;
    float: none;
}
.widget .sub-menu a {
    font-family: inherit;
    font-size: inherit;
    padding: 0;
	letter-spacing:0;
    text-transform: inherit;
}
/*calendar style*/
#wp-calendar {
	width: 100%;
	text-align: center;
	background: #eee;
	font-size: 12px;
	line-height: 3;
	max-width: 370px;
	background: #fff;
	margin: auto;
}
#wp-calendar caption {
    border: 1px solid #DDDDDD;
    color: #333333;
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    padding: 10px 20px;
    text-transform: uppercase;
	border-bottom:none;
}
#wp-calendar td a{color:#777;display:block;}
#wp-calendar td a:hover{background:#333;color:#fff;}

#wp-calendar #prev a,#wp-calendar #next a {
    display: inline;
}
#wp-calendar tbody tr td {
    border: 1px solid #DDDDDD;
    color: #BBBBBB;
    font-weight: bold;
}
#wp-calendar thead {
	color: #555555;
}
#wp-calendar thead th {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #DDDDDD;
    text-align: center;
}
#wp-calendar tfoot {
	border: 1px solid #ddd;
}
#wp-calendar tfoot #next {
	text-align: right;
}
#wp-calendar tfoot #prev {
	text-align: left;
}
#wp-calendar tfoot a {
	padding: 10px;
}
/*-------------COMMENTS SECTION-------------*/
.commentlist{margin:0;padding:0;list-style:none;}
.fn.comment-author {
 	color: #555555;
    font-family: montserrat;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}
.comment-inner.clearfix {
    float: left;
    padding-left: 20px;
    width: 87%;
}
.comment-author.vcard {
    float: left;
    width: 13%;
}
.commentlist ul{list-style:none;}
.comment-meta a {
    font-weight: bold;
}
.comment-meta .comment-edit-link {
    border: 1px solid #DDDDDD;
    display: inline-block;
    float: right;
    font-size: 12px;
    font-weight: normal;
    padding: 0 7px;
}
.comment-meta.commentmetadata {
    display: block;
    overflow: hidden;
}
.commentlist .avatar {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
}
.commentlist li {
    display: block;
    overflow: hidden;
}
.comment-body {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 20px;
}
.comment-reply-link {
    float: right;
    font-family: montserrat;
}

.bypostauthor .fn.comment-author:after {
    color: #888888;
    content: "\f007";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 13px;
    height: 20px;
    line-height: 18px;
    margin-left: 3px;
    text-align: center;
    width: 20px;
}
.pagination-comment {
    font-family: montserrat;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: right;
    text-transform: uppercase;
}
.form-submit #submit {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    display: inline-block;
    font-family: montserrat;
    letter-spacing: 2px;
    padding: 10px 18px;
    text-decoration: none;
    text-transform: uppercase;
	width:auto;
	transition: all 0.3s ease 0s;
}
.form-submit #submit:hover{background:#888;color:#fff;}

.comment-form label {
    display: block;
    font-family: montserrat;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.title-strong{
    font-size: 20px;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
}
/*-------------Wordpress regular style--------*/
.wp-caption {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 3px;
}
.alignleft{text-align:left;}
.alignright{text-align:right;}
.aligncenter{text-align:center;}
.wp-caption-text,.gallery-caption {
    font-size: 13px;
    margin: 0;
    padding: 5px;
    text-align: center;
}

.sticky .blog-title:before {
    border: 2px solid;
    color: #CCCCCC;
    content: "\f08d";
    display: inline-block;
    float: right;
    font-family: fontawesome;
    font-size: 16px;
    height: 30px;
    line-height: 26px;
    margin-left: 5px;
    text-align: center;
    width: 30px;
}

/*--fix for ie 8 & ie 9 behaviour--*/
@media screen and (min-width:0\0) {
   .port-hover,.team-hover{cursor:default;}
   .team-hover h3,.team-hover p,.port-hover h3,.port-hover p{cursor:pointer;}
} 

/*-----------------------------media queries-----------------------------------*/
@media (min-width:980px) and (max-width:1199px) {
.caption-box p {
    font-size:20px;
}
.line-container {
    max-width: 800px;
}
.caption-box h3 {
    font-size: 130px;
}
.caption-box i {
    font-size: 30px;
}
.caption-box {
    padding: 150px 0 200px;
}
.slide {
    background-size: auto 1200px;
}
.team-bg{background-size: auto 100%;}
}
@media (min-width:768px) and (max-width:979px) {
.caption-box p {
    font-size:18px;
}
.line-container {
    max-width: 780px;
}
.caption-box h3 {
    font-size: 120px;
}
.caption-box i {
    font-size: 25px;
}
.caption-box {
    padding: 130px 0 180px;
}
.slide {
    background-size: auto 980px;
}
.menu-box{display:none;}
.masonry .blog-post{width:100%;}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
.caption-box p {
    font-size:18px;
}
.line-container {
    max-width: 780px;
}
.caption-box h3 {
    font-size: 120px;
}
.caption-box i {
    font-size: 25px;
}
.caption-box {
    padding: 130px 0 180px;
}
.slide {
    background-size: auto 1100px;
}
.menu-box{display:none;}
.masonry .blog-post{width:100%;}
}
@media (max-width: 767px) {
.masonry .blog-post{width:100%;}
.logo {
    max-width: 60%;
}
.port-item{width:100%;}
.caption-box p {
    font-size:15px;
	letter-spacing:8px;
}
.line-container {
    max-width: 500px;
}
.caption-box h3 {
    font-size: 70px;
}
.caption-box i {
    font-size: 15px;
}
.caption-box {
    padding: 100px 0 130px;
}
.slide {
    background-size:auto 770px;
}
.menu-box{display:none;}
.admin-bar .is-sticky #header{
    margin-top: 46px;
}
}
@media (max-width:600px) {
.admin-bar .is-sticky #header{
    margin-top: 0;
}
}
@media (max-width:570px) {
.port-filter{display:none;}
.caption-box p {
    font-size:13px;
	letter-spacing:3px;
}
.line-container {
    max-width: 330px;
}
.caption-box h3 {
    font-size: 50px;
	letter-spacing:15px;
}
.caption-box i {
    font-size: 13px;
}
.caption-box {
    padding: 80px 0 100px;
}
.slide {
    background-size:  auto 580px;
}
.worksajax .port-title {
    padding-right: 45px;
}
.blog-box > a ,.single-blog .blog-title{padding:0;}
.post-date{position:relative;}
}
@media (max-width:480px) {
.slide {
    background-size:  auto 510px;
	background-position:center;
}
}